<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="RunTimeTerror"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlacementInput"></activity>
        <activity android:name=".clubpage" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".ClubActivity" />
        <activity android:name=".PlacementActivity" />
        <activity android:name=".ArticleActivity" />
        <activity android:name=".ArticlePage" />
        <activity android:name=".SetNameActivity" />
        <activity android:name=".SubmitPostActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".LoginPageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>